* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #f2f0f5;

}

.caja-principal {
    width: 100%;
    border-radius: 12px;
    margin: 0 70px;
    margin-top: 40px;

}

.imagen {
    flex-shrink: 0;
    width: 720px;
    float: left; /* Hace que la imagen se alinee a la izquierda */
    overflow: hidden;
    margin-right: 40px;
}

.texto {
    overflow: hidden; /* Evita que el texto se desborde de la caja principal */
}

/* TITULO */
.title-container{
    display: block;
    margin-left: 40px;
}

.title-container h1{
    font-family: 'Roboto' sans-serif;
    font-size: 44px;
}

.carousel-inner{
    border-radius: 12px;
}
.carousel-inner img{
    height: 500px;
}

.body-card-container{
    margin-top: 40px;
    padding-left: 100px;
    width: 100px;
    background-color: red;
}

.service-list{
    padding-left: 20px;
    margin-left: 20px;
}
.imagen{
    margin-top: 12px;
}
